@using FoodHouse.UI.Dto
@model FoodHouse.UI.Models.ViewModel.Courier.CourierViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">
    <meta name="description" content=""/>
    <meta name="keywords" content="bootstrap, bootstrap4"/>
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="~/css/tiny-slider.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Кабінет користувача - Налаштування</title>
</head>
<body class="body">
<div class="sidebar-wrapper">
    <nav class="open" id="openb">
        <ul>
            <li>
                <button class="burger__button-btn nav-btn" id="burger">
                    <span></span><span></span><span></span>
                </button>
            </li>
            <li>
                <a href="#" class="profile">
                    <img src="~/images/icons/man_av.svg" alt="profile">
                    <span class="nav-item">@Model.UserName</span>
                </a>
            </li>
            <li>
                <a asp-controller="Profile" asp-action="Index" class="nav-menu">
                    <i class="bx bxs-user nav-icon"></i>
                    <span class="nav-item">Base page</span>
                </a>
            </li>
            <li>
                <a asp-action="Users" asp-controller="Admin" class="nav-menu">
                    <i class="bx bxs-dashboard nav-icon"></i>
                    <span class="nav-item">Users Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Autentificate" asp-action="Logout" class="nav-menu">
                    <i class="bx bx-log-in nav-icon"></i>
                    <span class="nav-item">Log Out</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="table-container mtb-3">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>ID Order</th>
                    <th>ID User</th>
                    <th>ID Courier</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var item in Model.Orders)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.UserId</td>
                                <td>@item.CourierId</td>
                                <td>@item.Total</td>
                                <td>@item.OrderStatus</td>
                                <td>
                                    <div class="action-buttons">
                                        @if (item.CourierId != Model.Id)
                                        {
                                            <form asp-action="TakeOrder" asp-controller="Courier" method="post">
                                                <button class="action-change">Взяти заказ</button>

                                                <input type="hidden" value="@item.Id" name="Id"/>
                                            </form>
                                        }
                                        else if (item.CourierId == Model.Id)
                                        {
                                            <form asp-action="ChangeOrder" asp-controller="Courier" method="post">
                                                <button class="action-change">Виконуєтся</button>

                                                <input type="hidden" value="@item.Id" name="Id"/>
                                                <input type="hidden" value="0" name="orderStatus"/>
                                            </form>
                                            <form asp-action="ChangeOrder" asp-controller="Courier" method="post">
                                                <button class="action-change">В дорозі</button>

                                                <input type="hidden" value="@item.Id" name="Id"/>
                                                <input type="hidden" value="1" name="orderStatus"/>
                                            </form>
                                            <form asp-action="ChangeOrder" asp-controller="Courier" method="post">
                                                <button class="action-delete">Доставлено</button>

                                                <input type="hidden" value="@item.Id" name="Id"/>
                                                <input type="hidden" value="2" name="orderStatus"/>
                                            </form>
                                        }
                                        else if (item.CourierId != "000000000000000000000000")
                                        {
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/js/site.js"></script>
</body>
</html>